/* .otp-container{
  @apply flex justify-between gap-2
} */

.otp-container > input{
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto
}

.react-tel-input .form-control{
  @apply !w-full py-6 !text-base;
}